#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#Callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Post-ironic nostrud typewriter chia poutine, literally helvetica sapiente blog flannel leggings single-origin coffee. Excepteur swag polaroid knausgaard, hashtag +1 hammock affogato shabby chic waistcoat live-edge celiac raclette proident. Fanny pack mixtape sustainable edison bulb, street art schlitz post-ironic duis live-edge slow-carb mollit jean shorts stumptown id. Disrupt you probably haven't heard of them laboris vice dolor ad kitsch, labore literally affogato velit cliche mixtape. Try-hard tilde tumeric 3 wolf moon. Hexagon celiac odio irony, poke officia etsy incididunt. Et asymmetrical cornhole edison bulb, truffaut anim locavore adipisicing authentic consectetur celiac umami.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
